.row-search {
    margin-top: -1rem;
}

.search-component {
    height: auto;
    background: #FFFFFF;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.form-row-cont {
    margin: 2rem 0;
}

.select-container {
    margin-bottom: 0px;
}


.label-filter {
    padding: 0px;
    margin: 0;
}

.select-element {
    background: #FFFFFF;
    border: 1px solid rgba(28, 52, 73, 0.5);
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: #FF5A4D;
}

.custom-select {
    color: #FF5A4D;
    
    border-radius: 5px;
    line-height: inherit;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(28, 52, 73, 0.5);
    line-height: 2rem;
}

.option-select {
    color: #FF5A4D;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.global-class-name {
    height: 2rem;
}

.btn-form {
    height: 35px;
    background: #FF5A4D;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn-form-2 {
    height: 35px;
    background: #263C4F;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
}

.cards-row {
    margin: 2rem 0;
}

@media screen and (max-width: 768px) {
    .btn-form {
        height: 35px;
        background: #FF5A4D;
        box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .btn-form-2 {
        height: 35px;
        background: #263C4F;
        box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .select-element {
        border: 1px solid rgba(28, 52, 73, 0.5);
        box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        color: #FF5A4D;
        font-size: 12px;
    }
}