/*For Navbar of index*/
.normal-navbar {
    position: fixed;
    z-index: 1;
}

.nav-link-2 {
    color: black;
    font-size: 18px;
    margin: 0 2rem;
    transition: 0.3s;
}

.nav-link-2:hover {
    color: gray;
    font-size: 18px;
    margin: 0 2rem;
    transition: 0.3s;
    text-decoration: none;
}

/*For transparent navbar*/
.cont-navbar {
    margin: 0;
    padding: 0;
    background: rgba(196, 196, 196, 0.6);
}

.btn-nav {
    text-align: end;
}

.logo-cont {
    background: #263C4F;
    border-radius: 50%;
    margin: 0 0 0 3rem;
}

.logo-navbar {
    width: 50px;
    height: auto;
    margin: 0.7rem 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color:  #263C4F;
    font-size: 18px;
    margin: 0 2rem;
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    font-size: 18px;
    margin: 0 2rem;
    transition: 0.3s;
}

.navbar-toggler {
    background-color: white;
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

    .logo-cont {
        background: #263C4F;
        border-radius: 50%;
        margin: 0 0 0 1rem;
    }
    
    .logo-navbar {
        width: 50px;
        height: auto;
        margin: 0.5rem 0.3rem;
    }

    .nav-link {
        color: white;
        font-size: 18px;
        margin: 0 2rem;
        transition: 0.3s;
    }

}