.cont-header-index {
    background: #263C4F;
    height: 100vh;
    top: 0;
}

.row-container {
    height: 100%;
}

.img-header-index {
    width: 100%;
    height: auto;
}

.col-txt-index {
    margin: 1rem 0;
}

.txt-index {
    color: #ffffff;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    text-align: justify;
}

.btn-index-help {
    background:#3AC9CC;
    border-radius: 8px;
    text-align: center;
    padding: .5rem 0;
}

@media screen and (max-width:576px) {
    .txt-index {
        color: #ffffff;
        font-family: Gotham;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: justify;
    }
}